jdbcdriver=org.postgresql.Driver
url=jdbc:postgresql://localhost:5432/server
username=postgres
password=postgres
usertable=public.user
usertablekey=user_id
usertableuserfield=name
usertablepasswordfield=password
roletable=public.role
roletablekey=role_id
roletablerolefield=name
userroletable=public.user_role
userroletableuserkey=user_id
userroletablerolekey=role_id
